.col-sm-3.col-xs-4.product-thumbnails__item {
    width: 100%;
    margin-top: 10px;
    float: left;
}
.col-sm-3.col-xs-4.product-thumbnails__item:nth-child(7), .col-sm-3.col-xs-4.product-thumbnails__item:nth-child(8), .col-sm-3.col-xs-4.product-thumbnails__item:nth-child(9), .col-sm-3.col-xs-4.product-thumbnails__item:nth-child(10),
.col-sm-3.col-xs-4.product-thumbnails__item:nth-child(11), .col-sm-3.col-xs-4.product-thumbnails__item:nth-child(12), .col-sm-3.col-xs-4.product-thumbnails__item:nth-child(13), .col-sm-3.col-xs-4.product-thumbnails__item:nth-child(14),
.col-sm-3.col-xs-4.product-thumbnails__item:nth-child(15), .col-sm-3.col-xs-4.product-thumbnails__item:nth-child(16), .col-sm-3.col-xs-4.product-thumbnails__item:nth-child(17), .col-sm-3.col-xs-4.product-thumbnails__item:nth-child(18) {
    display: none;
}
.without-plr .vc_column-inner{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.quit-space .vc_column-inner {
    padding-top: 0px !important;
}

label[for="input_23_33"], label[for="input_23_34"], label[for="input_23_35"], label[for="input_23_36"], label[for="input_23_37"], label[for="input_16_33"], label[for="input_16_34"], .boat-input .ginput_container_select .chosen-container-single{
    width: 50% !important;
    float: left;
}
#jp-relatedposts, .cart-capacity .gfield_label, .heli-fligth .gfield_label, .ad-park .gfield_label, #field_24_39 .gfield_label, #field_24_55 .gfield_label, #field_24_54 .gfield_label, #field_24_53 .gfield_label, #field_24_52 .gfield_label {
    display: none !important;
}

#field_24_39, #field_24_55, #field_24_54, #field_24_53, #field_24_52 {
    width: 30%;
    margin-top: 0;
}

.boat-input .ginput_container, .cart-capacity .ginput_container.ginput_container_select, .heli-fligth .ginput_container.ginput_container_select {
    margin-top: 0px !important;
}

.boat-input .ginput_container #input_16_33_chosen .chosen-single, .boat-input .ginput_container_select #input_16_34_chosen .chosen-single{
    height: 25px;
    line-height: 25px;
}

#field_14_23, #field_15_23{
    width: 35%;
    float: right;
}

#input_26_15, #input_26_11_chosen, #input_26_21_chosen, #input_26_20_chosen, #input_26_19_chosen, #input_25_15, #input_25_11_chosen, #input_25_21_chosen, #input_25_20_chosen, #input_25_19_chosen, #input_24_2, #input_24_11_chosen, #input_24_21_chosen, #input_24_20_chosen, #input_24_19_chosen, #input_24_15, #input_23_2, #input_23_11_chosen, #input_23_21_chosen, #input_23_20_chosen, #input_23_19_chosen, #input_23_15, #input_22_2, #input_22_11_chosen, #input_22_21_chosen, #input_22_20_chosen, #input_22_19_chosen, #input_22_15, #input_21_2, #input_21_11_chosen, #input_21_21_chosen, #input_21_20_chosen, #input_21_19_chosen, #input_21_15, #input_1_5, #input_9_2, #input_9_13, #input_9_2, #input_9_13, #input_20_15, #input_20_20_chosen, #input_20_19_chosen, #input_20_21_chosen, #input_20_11_chosen, #input_20_2, #input_19_2, #input_19_11_chosen, #input_19_21_chosen, #input_19_20_chosen, #input_19_19_chosen, #input_19_15, #input_18_2, #input_18_11_chosen, #input_18_21_chosen, #input_18_20_chosen, #input_18_19_chosen, #input_17_2, #input_17_11_chosen, #input_17_21_chosen, #input_17_20_chosen, #input_17_19_chosen, #input_17_15, #input_16_2, #input_16_15, #input_16_11_chosen, #input_16_21_chosen, #input_16_20_chosen, #input_16_19_chosen, #input_15_2, #input_15_11_chosen, #input_15_21_chosen,#input_15_20_chosen, #input_15_19_chosen, #input_15_15, #input_14_15, #input_10_2, #input_10_15, #input_10_8, #input_10_11_chosen, #input_11_15, #input_11_2, #input_11_11_chosen, #input_12_15, #input_12_2, #input_12_11_chosen, #input_11_21_chosen, #input_11_20_chosen, #input_11_19_chosen, #input_10_21_chosen, #input_10_20_chosen, #input_10_19_chosen, #input_12_21_chosen, #input_12_20_chosen, #input_12_19_chosen, #input_13_19_chosen, #input_13_20_chosen, #input_13_21_chosen, #input_13_11_chosen, #input_13_2, #input_13_15, #input_14_2, #input_14_11_chosen, #input_14_21_chosen, #input_14_20_chosen, #input_14_19_chosen{
    float: right;
    width: 90%;
}

#input_26_8, #input_25_8, #input_22_8, #input_21_8, #input_20_8, #input_19_8, #input_18_8, #input_17_8, #input_16_8, #input_10_8, #input_11_8, #input_12_8, #input_13_8 {
    width: 80%;
    float: right;
}

#input_25_2, #input_26_2  {
    width: 80%;
}

.remember-text h5 {
    color: #424242;
    margin-bottom: 0px;
}

.remember-text p {
    margin: 0px !important;
    font-size: 12px;
    color: #424242;
    line-height: 2.2;
}
.gform_wrapper .top_label input.medium.datepicker {
    width: 80%;
}

#gf_coupon_code_26, #gf_coupon_code_25, #gf_coupon_code_24, #gf_coupon_code_23, #gf_coupon_code_22, #gf_coupon_code_21, #gf_coupon_code_9, #gf_coupon_code_1, #gf_coupon_code_20, #gf_coupon_code_19, #gf_coupon_code_18, #gf_coupon_code_17, #gf_coupon_code_16, #gf_coupon_code_15, #gf_coupon_code_14, #gf_coupon_code_10, #gf_coupon_code_11, #gf_coupon_code_12, #gf_coupon_code_13 {
    float: left;
    margin-left: 3em;
    width: 22%;
}

body .gform_wrapper img.ui-datepicker-trigger {
    width: 28px!important;
    height: 27px!important;
    display: -moz-inline-stack;
    display: inline-block;
}

h4{
    letter-spacing:3px;
    color: #1ea5ff;
    text-transform: uppercase;
}

h2.product_title, .space-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
}

.back-line{
    height: 20px;
}

.text-center{
    text-align:center;
}
.margin-top{
    margin-top:65px;
}

#field_23_45 .gfield_label, #field_23_46 .gfield_label, #field_23_47 .gfield_label, #field_23_48 .gfield_label, #gform_submit_button_26, #gform_submit_button_25, #gform_submit_button_24, #gform_submit_button_23, #gform_submit_button_22, #gform_submit_button_21, #gform_submit_button_20, #gform_submit_button_19, #gform_submit_button_18, #gform_submit_button_17, #gform_submit_button_16, #gform_submit_button_15, #gform_submit_button_14, #gform_submit_button_1, #gform_submit_button_6, #gform_submit_button_8, #gform_submit_button_34, #gform_submit_button_9, #gform_submit_button_10, #gform_submit_button_11, #gform_submit_button_12, #gform_submit_button_13, #field_23_53 .gfield_label, #field_23_42 .gfield_label, #field_23_52 .gfield_label, #field_23_43 .gfield_label, #field_23_51 .gfield_label, #field_23_44 .gfield_label, #field_23_50 .gfield_label, #field_23_41 .gfield_label, #field_23_49 .gfield_label, #field_23_40 .gfield_label, .woocommerce .quantity .qty {
    display: none;
}

.woocommerce .product .cart .button {
    float: none;
    background: #3e3e3e !important;
}

@media only screen and (min-width: 641px){
    .gform_wrapper .gform_fields .gfield {
        padding-right: 16px;
    }
}

@media (max-width: 767px) {
    .vc_row.wpb_row.vc_row-fluid {
        margin-left: auto;
        margin-right: auto;
    }
    .gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
        float: left;
    }
    body .gform_wrapper ul .gfield {
        width: 100% !important;
    }
    .gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
        width: auto !important;
    }
    #field_26_18, #field_26_31, #field_26_3, #field_26_13, #field_25_31, #field_25_3, #field_25_13, #field_25_18, #field_24_31, #field_24_3, #field_24_13, #field_24_18, #field_23_31, #field_23_3, #field_23_13, #field_23_18, #field_22_31, #field_22_3, #field_22_13, #field_22_18, #field_21_3, #field_21_13, #field_21_18, #input_8_2, #input_8_43, #input_8_4_chosen, #field_8_39, #field_8_40, #field_8_52, #field_8_56, #field_9_40, #field_1_73, #field_1_72, #field_1_70, #field_1_67, #field_9_27, #field_9_32, #field_9_27, #field_9_32, #field_9_39, #field_9_39, #field_1_32, #field_20_32, #field_20_3,#field_20_13, #field_20_18, #field_19_32, #field_19_3, #field_19_13, #field_19_18, #field_18_31, #field_18_3, #field_18_13, #field_18_18, #field_17_3, #field_17_13, #field_17_18, #field_16_31, #field_16_3, #field_16_13, #field_16_18, #field_15_3, #field_15_13, #field_15_18, #field_10_18, #field_10_13, #field_10_3, #field_11_3, #field_11_13, #field_11_18, #field_12_18, #field_12_13, #field_12_27, #field_12_3, #field_13_3, #field_13_13, #field_13_18, #field_14_3, #field_14_13, #field_14_1{
        width: 100% !important;
        margin-left: 0 !important;
    }
    #input_26_8, #input_25_8, #input_24_8, #input_23_8, #input_22_8, #input_21_8, #input_20_8, #input_19_8, #input_18_8, #input_17_8, #input_16_8, #input_10_8, #input_11_8, #input_12_8, #input_13_8 {
        width: 100%;
        float: right;
    }
    #field_24_12 {
        padding-top: 50px !important;
    }
    label[for="gf_coupon_code_26"], label[for="gf_coupon_code_25"], label[for="gf_coupon_code_24"], label[for="gf_coupon_code_23"], label[for="gf_coupon_code_22"], label[for="gf_coupon_code_21"], label[for="gf_coupon_code_9"], label[for="gf_coupon_code_1"], label[for="gf_coupon_code_20"], label[for="gf_coupon_code_19"], label[for="gf_coupon_code_18"], label[for="gf_coupon_code_17"], label[for="gf_coupon_code_16"], label[for="gf_coupon_code_15"], label[for="gf_coupon_code_14"], label[for="gf_coupon_code_8"], label[for="gf_coupon_code_1"], label[for="gf_coupon_code_6"], label[for="gf_coupon_code_10"], label[for="gf_coupon_code_11"], label[for="gf_coupon_code_12"], label[for="gf_coupon_code_13"]{
        width: 100% !important;
        padding: 0px !important;
        text-align: center !important;
    }
    #gf_coupon_code_26, #gf_coupon_code_25, #gf_coupon_code_24, #gf_coupon_code_23, #gf_coupon_code_22, #gf_coupon_code_21, #gf_coupon_code_9, #gf_coupon_code_1, #gf_coupon_code_20, #gf_coupon_code_19, #gf_coupon_code_18, #gf_coupon_code_17, #gf_coupon_code_16, #gf_coupon_code_15, #gf_coupon_code_14, #gf_coupon_code_10, #gf_coupon_code_11, #gf_coupon_code_12, #gf_coupon_code_13{
        float: none;
        margin-left: auto;
        width: 45%;
        margin-right: auto;
    }
}
@media (min-width: 768px) {
    #sgbb-breadcrumb-1 {
        width: 67%;
        margin: 0 auto !important;
    }
    #field_13_18, #field_24_18, #field_26_18, #field_25_18, #field_24_18, #field_23_18, #field_22_18, #field_21_18, #field_20_18, #field_19_18, #field_18_18, #field_17_18, #field_16_18, #field_15_18, #field_10_18, #field_11_18, #field_12_18, #field_18_18, #field_14_18{
        width: 100% !important;
    }
    #field_24_16{
        padding-right: 0px !important;
    }
    #input_8_4_chosen, #input_8_43, #input_8_2, #input_25_9, #input_20_9, #input_19_9, #input_17_9, #input_18_15, #input_18_9, #input_1_7, #input_1_18, #input_10_9, #input_11_9, #input_12_9, #input_13_9, #input_26_9, #input_14_9, #input_15_9, #input_16_9{
        float: right;
    }
    .quantity-input .ginput_container_number{
        padding-right: 16px;
    }
    .gform_wrapper .gform_fields .gfield {
        padding-right: 0px;
    }
    .length-flight{
        width: 60% !important;
    }
    
    #field_26_3 {
        margin-top: 3em !important;
    }
    .code-input label {
        letter-spacing: 0px !important;
        padding-left: 6em !important;
        color: #3e3e3e;
    }
    .code-input #gf_coupons_container_9{
        margin-top: 12px;
    }
    #field_15_6, #field_15_31{
        margin-left: 2.45em !important;
    }
    label[for="gf_coupon_code_26"], label[for="gf_coupon_code_25"], label[for="gf_coupon_code_24"], label[for="gf_coupon_code_23"], label[for="gf_coupon_code_22"], label[for="gf_coupon_code_21"], label[for="gf_coupon_code_9"], label[for="gf_coupon_code_1"], label[for="gf_coupon_code_20"], label[for="gf_coupon_code_19"], label[for="gf_coupon_code_18"], label[for="gf_coupon_code_17"], label[for="gf_coupon_code_16"], label[for="gf_coupon_code_15"], label[for="gf_coupon_code_14"], label[for="gf_coupon_code_8"], label[for="gf_coupon_code_1"], label[for="gf_coupon_code_6"], label[for="gf_coupon_code_10"], label[for="gf_coupon_code_11"], label[for="gf_coupon_code_12"], label[for="gf_coupon_code_13"] {
        text-align: left !important;
        padding-left: 6em !important;
    }
}